*{
    margin: 0;
}
.debut{
    padding: 0;
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 750px;
    background-image : url("hero.jpeg");
    background-repeat: no-repeat;
}
.debut h1{
    padding-top: 10%;
    color: aliceblue;
    font-size: xxx-large;
    text-shadow:5px 5px #558abb;
}
.debut h3{
    
    color:beige;
    font-size: x-large;
    text-shadow:5px 5px rgb(89, 89, 1);

}
/*form*/

form {

    padding: 20px;
    margin-top: 7%;
    margin-left: 25%;
    margin-right: 25%;
    background-color:#558abb;
    opacity: 0.9;
    border: 2px solid white;
    border-radius: 25px;
    
}
::placeholder {
    font-style: italic;
    font-size: 1em;
    color: black;
    
    padding: 5px;
  }
.search-form {
    transform: translateY(75px);
    
}

.form-group {
    color: #ffffff;
    display: flex;
    justify-content: center;
  /*  flex-direction: row;*/
    margin: 10px;
    
}

.form-group input, select, option{
    border: none;
    border-radius: 25px;
    padding: 5px;
    opacity: 1.5;
    background-color:white;
    margin-left: 5px;
    color: black;
    
   
    
}

.form-group label {
    margin: 5px;
    padding: 10px;
}

/*destination*/
#destinations button{
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    margin-top:-50px;

}
.form input{
    margin-left: 0;
   
}
section{
    padding: auto;
    padding-bottom: 0.5px;
  
}
.debut button ,#destinations button{
    
   margin-top: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    background-color:#558abb;
    color: #fff;
    
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    border: 3px solid #fff;
  }
  .debut button:hover,#destinations button:hover{
    background-color:beige;
    color: black;

  }
  .debut button:active ,#destinations button:active {
    background-color:#558abb;
    color: #fff;
}
header img {
    height: 80px;
    margin-left: 40px;
}


header {
    z-index: 3;
    background-color:#004381;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}
input{
    margin-left: 40%;
}
header li {
    margin:20px;
}
header li a:hover{
    padding-top:10px;
    padding-bottom:10px;
    color:#fff;
    background-color: white;
    color: #004381;
    text-shadow: 0 0 2px black;
    border: #558abb;
    border-radius: 25px;

}

header li a {
    color: white;
    text-decoration: none;
}

#destinations h1{
    text-align: center;
    color: #558abb;
    margin-top: 2%;
    padding-top:2%;
    text-decoration-line: underline;
    
}
button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
 
section#destinations {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: aliceblue;
    
}

section#destinations h3 {
    padding-top: 50px;
    opacity: 0.5;
    color: #373737;
}

div.destination-item {
    color: #373737;
    height: 300px;
    margin: 15px;
    position: relative;
    flex: 1 0 29%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.destination-item:hover {
    transform: scale(0.98);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s all;
}


div.destinations-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
button a{
    text-decoration: none;
    color:white ;
}
button a:hover{
    text-decoration: none;
    color:black ;
}

.barcelone { background: url(barcelone.jpg); }
.dubai { background: url(dubai.jpg); }
.londres { background: url(londres.jpg); }
.paris { background: url(paris.jpg); }
.philippines { background: url(philippines.jpg); }
.tunis { background: url(tunis.jpg); }
.skanes{background: url(skanes1.jpg)}
.thabarka{background: url(tbarka1.jpg)}
.tozeur{background: url(tozeur1.jpg)}
.yadis{background: url(yadis1.jpg)}
.korbous{background: url(korbous1.jpg)}
.djerba{background: url(djerba1.jpg)}
.overlay { 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

span.nom {
    position: relative;
    color: #373737;
    background-color: #DBDBD9;
    top: 20px;
    float: right;
    padding: 12px;
    font-size: 22px;
    
}
.nom1{
    position: relative;
    color: white;
    background-color: rgb(238, 39, 39);
    top: 10px;
    right:10px;
    border: 2px solid white;
    border-radius: 50%;
    float: right;
    padding: 10px;
    height:auto;
    width: auto;
    font-size: 20px;
}
.prix0{
    position: relative;
    color: #fff;
    background-color:black;
    opacity: 0.7;
    padding: 12px;
   
    margin-right: 0;
    height:30px;
    width:50%;
    font-size: 14px;
    top: 165px;
}
.prix1{
    position: relative;
    color: #fff;
    background-color:#558abb;
    padding: 12px;
   
    margin-right: 0;
    height:60px;
    width:95%;
    font-size: 20px;
    top: 165px;
    padding-bottom: 30px;
}
.p1{
    font-family: poppins,sans-serif;
    font-size: 21px;
}
.p2{
    font-family: Poppins,sans-serif;
    font-size: 18px;
}
.p3{
    color: rgb(253, 253, 175);
    font-size: small;
    font-family: Poppins,sans-serif;
}
.p1:hover{
    text-decoration-line: underline;
}
.overlay1 { 
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

span.prix {
    position: relative;
    color: #fff;
    background-color:#558abb;
    padding: 12px;
    padding-right: 300px;
    
    font-size: 25px;
    top: 220px;
   
}
/*award*/
.award{
    padding: 20px;
    background-color: antiquewhite;
    margin-top: 20px;
    margin-bottom: 20px;
}
.award1{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.txt{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size:x-large ;
    color: #558abb;
    font-stretch: extra-condensed;
}
.awardn{
    padding-left: 50px;
    padding-right: 50px;
}
.award img{
    width:150px;
    height: 150px;
}
.adtxt{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-style: oblique;
} 
/*intro*/
.intro{
    padding-bottom: 70px;
    padding-top: 120px;
}

.image{
    width:30%;
    height:270px;
    background-image:url("tunisie.jpg");
    background-size: cover;
    box-shadow: 10px 10px lightblue;
}
.btn{
    text-align: center;
    align-items: center;
}
.paragraph button{
    
    background-color: #558abb;
    border:2px solid #fff ;
    border-radius: 25px;
    color: #fff;
    font-size: medium;
    margin-top: 12px;
  

}
.paragraph button:hover{
    background-color: #fff;
    color: #558abb;
}
.paragraph{
    width:70%;
    padding: 12px;
    padding-top: 40px;;
    background-color:#558abb ;
    color: #fff;
    font-size: large;
    box-shadow: 10px 10px lightblue;
    border-left: 5px solid lightblue;
   
    
}
.part{
    padding: 12px;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    
}
.part span {
    font-size: x-large;
    padding-bottom: 10px;
}
/*footer**/
footer{
    
    background-color: #004381;
    color: #fff;
  }

.container1{
    display: flex;
    background-color:#002c55;
    color:white;
}
.c1{
    width:60%;
    display: flex;
    margin-left:5%;
    margin-top: 1%;
    margin-bottom: 1%;
    align-items: left;
}
.c2{
    margin-top: 1%;
    margin-right: 5%;
}
.c3{
    margin-top: 1%;
   
}
.container2{
    display: flex;

}
.row1{
    width:50%;
    align-items: left;
    padding-top: 3%;
    padding-left: 5%;

}
.r {
    width:25%;
    border-left:3px solid rgb(248, 248, 174);
    margin-bottom: 5px;
    padding-left: 2%;
    text-align: left;
}
.container3{
    display: flex;

}
.titre{
    
    width:50%;
    color:rgb(248, 248, 174);
    border-left:3px solid rgb(248, 248, 174);
    margin-bottom: 5px;
    padding-left: 2%;
    text-align: left;
}
.col ul li {
  
    text-align: left;
    list-style-type: none
}
ul.s {
    padding-left: 0;
  }
  .col a{
    color: #fff;
    text-decoration: none;
    list-style-type: none
  }
  .col a:hover{
    text-decoration-line: underline;
  }
  
.col{
    width:200px;
    
    align-items: left;
    padding-top: 3%;
    padding-right: 5%;
}
.container4{
    display: flex;
    padding-bottom: 1%;
    
}
footer .right
{
   width: 50%;
   right:0;
  
    
}
footer .left
{   
    width: 50%;
    padding-left:5%;
    padding-right: 55%;
  
}
hr{
   margin: auto;
   width:30%;
   margin-bottom: 1%;;
}
/*under constraction*/
.under{
    margin-top:100px;
    padding-top: 10px;
    padding-bottom: 10px;
}